@media all and (min-width:1200px){
  html {
    font-size: 20px;
  }
  .back img{
    height: unset;
    /* display: none; */
  }
  header {
    height: 80px;
    /* background-color: transparent; */
    /* padding: 32px; */
    /* background-color: #ddd; */
  }
  header .nav_btn {
    width: 80px;
    height: 80px
  }
  header .nav_btn span {
    width: 32px;
  }
  .banner {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 130px;
    /* height: 100vh; */
  }

  .banner .main_title{
    margin-top: 6rem;/**/
    display: flex;
    justify-content: space-between;
    height: 500px;
  }
  .banner .main_title .title_1{
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .banner .main_title .title_1 .txt{
    /* font-size: 32px; */
    font-weight: 700;
    font-size: 60px;
    white-space: nowrap;
    padding-bottom: 12px;
  }
  .banner .main_title .title_1 span{
    /* font-size: 24px; */
    font-weight: 600;
    width: fit-content;

  }
  .banner .main_title .title_2{
    align-self: end;
    margin-right: 120px;
  }
  .banner .main_title .title_2 p{
    font-size: 1.25rem;/*20*/
  }
  header nav {
    width: 40%;
    box-shadow: 6px 6px 8px rgba(0, 0,0, .1);
    padding: 24px;
  }
  .title {
    font-size:2.5rem;
    margin-bottom: 32px;
  }
  .row1 {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    padding-top: 130px;
    margin-bottom: 130px;
  }
  .row1 .title{}
  .row1 .con{
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 26px;
  }
  .row1 .con .item{
    padding:0;
    background-color: unset;
    color: #333;
    margin-bottom: 0;
  }

  .row1 .con .item h4 {
    margin-bottom: 20px;
    font-size: 1.125rem;
  }
  .row1 .con .item .sub ul li {
    line-height: 1.6;
  }
  .row2 {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 130px;
    margin-bottom: 130px;
  }
  .row2 .con {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .row2 .con .item{
    width: calc(25% - 24px );
    margin-bottom: 24px;
  }
  .row2 .con .item img{
    width:40%;
  }
  /* .row2 .con .item:hover img {
    transform: scale(1.2);
  }
  .row2 .con .item:last-child {
    margin-bottom: 0;
  } */

  .row2 .con .item a img{
    width:40%;
    vertical-align: top;
    transition: all .2s;
  }
 
  .row3 {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 130px;
    margin-bottom: 130px;
  }
  .row3 .con {
    padding-left: 20px;
    padding-right: 20px;
  }
  .row3 .con .item {
    border-radius: 8px;
    margin-bottom: 45px;
  }
  .row3 .con .item .pic{
    height: 200px;
  }
  .row4 {
    width: 1440px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 130px;
    margin-bottom: 130px;
  }
  .row4 .con .item{
    column-count: 3;
    /* column-gap: 20px; */
  }
  .row4 .con .item li{
    margin-bottom: 40px;
    max-height: 400px;
  }
  .row4 .con .item li p{
    font-size: 0.75rem;/*12*/
    /* font-size: 0.875rem;14 */
    font-weight: 500;
  }

  .viewMore .wrap{
    max-width: 1300px;
    margin: 0 40px;
  }
  .viewMore .btn {
    margin-top: 18px;
    width: 220px;
    height: 64px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
  }
.viewMore .wrap .tit {
  font-size: 36px;
}
 
  .pop {
    width: 500px;
  }
  footer .foot_inner {
    padding: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 800px;
    margin: 0 auto;
  }
  footer .foot_inner .txt {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 52px;
    text-align: center;
  }
  footer .foot_inner .ex {
    display: flex;
    justify-content:space-between;
    font-size: 32px;
  }
  footer .foot_inner ul:first-child{
   padding-right: 28px;
   font-weight: 600;
  }
  footer .foot_inner ul:first-child li {
    padding-left: 52px;
  }
  footer .foot_inner ul li {
    margin-bottom: 32px;
  }
  footer .foot_inner ul li:last-child {
    margin: 0;
  }
  footer .foot_inner ul:last-child li {
    text-align: right;
  }
}